doctype html
html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    body(style='background-color:#f3f3f3')
        .mb-5(style='text-align:center;')
            h1.m-3.font-weight-bold.row.justify-content-center PASSENGER HISTORY
                div.container-fluid
                    .card-group
                        div.row.justify-content-center
                            for passenger in passengers
                                input(type='hidden', name='id', value='passenger._id') 
                                - var url = passenger.image
                                - var editHref = '/editPass/' + passenger._id
                                .card.m-2(style='width:42rem; height: 4.5em; box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);')
                                    .row.justify-content-start
                                        img.pl-3.m-3.mr-5(src=''+url+'', alt='passenger' style='height: 3.5em; width:auto;')
                                    .card-body.ml-5
                                        .row.justify-content-center.font-weight-light
                                            h6.card-title.ml-5(style='font-size:.6em') #{passenger.firstName} #{passenger.lastName}
                                        .row.justify-content-center
                                            - var status = ''
                                            if passenger.to > Date.now()
                                                - var status = 'Active'
                                                p.font-weight-light.ml-5.mr-1(style='font-size:.4em') Exclusion:
                                                b(style='font-size:.4em; color: blue') #{status}
                                            else
                                                - var status = 'Passed'
                                                p.font-weight-light.ml-5.mr-1(style='font-size:.4em') Exclusion:
                                                p(style='font-size:.4em; color: red') #{status}
                                        .row.justify-content-center.font-weight-light(style='font-size:.4em')
                                            p.card-text.pl-3.ml-5
                                            b Period: 
                                                |   #{moment(passenger.from).format('MM/DD/YY')} - #{moment(passenger.to).format('MM/DD/YY')}
                                        .row.justify-content-center.font-weight-light.mt-3(style='font-size:.4em')
                                            a.mr-2.ml-5(href=''+editHref+'', action='/editPass') 
                                                button.btn.btn-sm.btn-primary(type='button') Edit 
                                            - var delAction = '/delete/' + passenger._id
                                            form.ml-2(method='GET', action=''+delAction+'') 
                                                button.btn.btn-sm.btn-danger(type='submit') Delete                                                                    